<div class="criar">
  <div class="conteudo">
    <form action="" class="formulario">
      <input type="file" id="criar-imagem" class="item criar-imagem" accept="image/png, image/jpeg, image/jpg, image/gif" required>
      
      <label for="texto-input">Titulo da Publicação:</label>
      <input type="text" id="texto-input" class="item" required> 
      
      <div class="tags">
        <div class="texto"><p>Tags da Publicação:</p></div>
        <div class="seletor">
          <label class="tag texto t1">
            <input type="checkbox" name="tags" value="lorem ipsum"> <p>Tag 1</p>
          </label>
          <label class="tag texto t1">
            <input type="checkbox" name="tags" value="lorem"> <p>Tag 1</p>
          </label>
          <label class="tag texto t1">
            <input type="checkbox" name="tags" value="lorem ipsum">  <p>Tag 3</p>
          </label>
          <label class="tag texto t1">
            <input type="checkbox" name="tags" value="lorem"> <p>Tag 4</p>
          </label>
          <label class="tag texto t1">
            <input type="checkbox" name="tags" value="lorem ipsum">  <p>Tag 5</p>
          </label>
          <label class="tag texto t1">
            <input type="checkbox" name="tags" value="lorem"> <p>Tag 6</p>
          </label>
          <label class="tag texto t1">
            <input type="checkbox" name="tags" value="lorem ipsum">  <p>Tag 7</p>
          </label>
          <!-- <label class="tag texto t1">
            <input type="checkbox" name="tags" value="lorem ipsum">  <p>lorem ipsum</p>
          </label>
          <label class="tag texto t1">
            <input type="checkbox" name="tags" value="lorem"> <p>lorem</p>
          </label> -->
        </div>
      </div>
      <input type="submit" value="PUBLICAR" class="item publicar">
    </form>
    <div id="fechar-criar" class="fechar">X</div>
  </div>
</div>