<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/pages/css/index.css">
    <link rel="stylesheet" href="../assets/modules/css/boot.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <title>Document</title>
</head>
<body>
    <main> 
        <section id="navbar"></section>
        <section class="scroll conteudo-cen">
            <div class="conteudo">
                <ul class="posts">
                    <li class="post">
                        <div class="perfil">
                            <div class="imagem-container">
                                <img src="" alt="" class="imagem">
                            </div>
                            <div class="textos">
                                <div class="texto "><p>User_Name</p></div>
                                <div class="texto "><p>Titulo da Publicação</p></div>
                            </div>
                        </div>
                        <div class="imagem-container">
                            <img src="" alt="" class="imagem">
                        </div>
                        <div class="interacao">
                            <div class="imagem-container"><i class="bi bi-heart imagem"></i></div> <!-- Ícone de curtida -->
                            <div class="imagem-container"><i class="bi bi-chat imagem"></i></div> <!-- Ícone de comentário -->
                            <div class="imagem-container"><i class="bi bi-plus-circle imagem"></i></div> <!-- Ícone de adição (+) -->
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <section id="tagbar"></section>
    </main>
    <script src="../component/navbar/component.js"></script>
    <script src="../component/tagbar/component.js"></script>
</body>
</html>