<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/boot/css/boot.css">
    <link rel="stylesheet" href="../assets/pages/css/index.css">
    <title>Document</title>
</head>

<body> 
    <header>
        <section class="conteudo-top">
            <div class="conteudo">
                <div class="imagem-container logo"><img src="../assets/img/logo.png" alt="" class="imagem"></div>
            </div>
        </section>
    </header>
    <main>
        <section class="menu conteudo-esq">
            <div class="conteudo">
            </div>
        </section>
        <section class="scroll conteudo-cen">
            <div class="conteudo">
                <ul class="posts">
                    <li class="post">
                        <div class="perfil">
                            <div class="imagem-container">
                                <img src="" alt="" class="imagem">
                            </div>
                            <div class="titulo"><p>User_Name</p></div>
                        </div>
                        <div class="imagem-container">
                            <img src="" alt="" class="imagem">
                        </div>
                    </li>
                    <li class="post">
                        <div class="perfil">
                            <div class="imagem-container">
                                <img src="" alt="" class="imagem">
                            </div>
                            <div class="titulo"><p>User_Name</p></div>
                        </div>
                        <div class="imagem-container">
                            <img src="" alt="" class="imagem">
                        </div>
                    </li>
                    <li class="post">
                        <div class="perfil">
                            <div class="imagem-container">
                                <img src="" alt="" class="imagem">
                            </div>
                            <div class="titulo"><p>User_Name</p></div>
                        </div>
                        <div class="imagem-container">
                            <img src="" alt="" class="imagem">
                        </div>
                    </li>
                </ul>
            </div>
        </section>
            <section class="tags conteudo-dir">
                <div class="conteudo">
        
                </div>
            </section>
        </div>
    </main>
    
</body>
</html>