<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/theme/assets/modules/css/boot.css">
    <link rel="stylesheet" href="/theme/assets/pages/css/login.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-material-ui/material-ui.css" rel="stylesheet">
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>

    <div class="conteudo-principal" id="login">
        <img src="/theme/assets/img/logo.webp" class="logo" alt="Logo POSTLY">
        <form id="loginForm">
            <div class="campo-container">
                <div class="campo">
                    <div class="campo-texto">
                        <label for="usuario">Username <span class="campo-obrigatorio">*</span></label>
                    </div>
                    <input id="usuario" type="text" placeholder="Username" required>
                </div>
            </div>

            <div class="campo-container">
                <div class="campo">
                    <div class="campo-texto">
                        <label for="senha">Senha <span class="campo-obrigatorio">*</span></label>
                    </div>
                    <input id="senha" type="password" placeholder="Senha" required>
                </div>
                <div class="visualizar-senha">
                    <label>
                        <input type="checkbox" id="toggleSenha">
                        Visualizar Senha
                    </label>
                </div>
            </div>

            <div class="conta">
                <button id="button-login" type="submit">Login</button>
                <a href="register.html">Não possui conta?</a>
            </div>
        </form>
    </div>

    <script src="/theme/assets/pages/js/login.js"></script>
</body>
</html>