<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/theme/assets/modules/css/boot.css">
    <link rel="stylesheet" href="/theme/assets/pages/css/register.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-material-ui/material-ui.css" rel="stylesheet">   
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>

    <div class="conteudo-principal conteudo-principal-register" id="register">
        <img src="/theme/assets/img/logo.webp" class="logo" alt="Logo POSTLY">
        <form id="registroForm">
            <div class="info">
                <p class="sub-titulo">Username:</p>
                <div class="input-group flex-nowrap">
                    <input id="usuario" type="text" class="form-control" placeholder="Username" aria-label="Username">
                </div>

                <p class="sub-titulo">Password:</p>
                <div class="input-group flex-nowrap senha-container">
                    <input id="senha" type="password" class="form-control" placeholder="Password" aria-label="Password">
                    <!-- Ícone para visualizar/ocultar a senha -->
                    <span id="toggleSenha" class="input-group-text cursor-pointer">
                        <i id="senhaIcon" class="bi bi-eye"></i> <!-- Ícone de "olho" -->
                    </span>
                </div>

                <p class="sub-titulo">E-mail:</p>
                <div class="input-group flex-nowrap">
                    <input id="email" type="email" class="form-control" placeholder="e-mail@dominio.com" aria-label="E-mail">
                </div>

                <p class="sub-titulo">Data de nascimento:</p>
                <div class="input-group flex-nowrap">
                    <input id="nascimento" type="date" class="form-control" aria-label="Nascimento">
                </div>

                <p class="sub-titulo">Foto de usuário:</p>
                <div class="input-group flex-nowrap">
                    <input id="foto" type="file" class="form-control custom-file-input" aria-label="Foto de usuário">
                </div>
            </div>
            
            <div class="conta">
                <button id="button-registro" type="submit">Registrar-se</button>
                <a href="login.html">Já possui conta?</a>
            </div>
        </form>
    </div>

    <script src="/theme/assets/pages/js/register.js"></script>
</body>
</html>
