
main{background: var(--preto); height: 100vh;}
.conteudo-cen{width: 100vw;}
.conteudo-cen .posts{} 
.conteudo-cen .post{width: 550px; margin: 0 auto 40px;}
.conteudo-cen .post .perfil{display: flex; align-items: center; gap: 10px; padding: 10px;}
.conteudo-cen .post .perfil .imagem-container{height: 40px; width: 40px; background: var(--branco); border-radius: 100%;}
.conteudo-cen .post > .imagem-container{width: 550px; height: 550px; border: 1px solid var(--branco);}
.conteudo-cen .post .interacao{margin: 10px 0 0; display: flex; gap: 15px;}
.conteudo-cen .post .interacao .imagem-container{width: 30px; height: 30px; }
.conteudo-cen .post .interacao .imagem-container .imagem{width: 100%; height: 100%; color: var(--branco); font-size: 25px;}



