.conteudo-principal {
    display: flex;
    border: 1px solid var(--verde-2);
    padding: 3%;
    margin: auto;
    margin-top: 5%;
    max-width: 50%;
    background-color: var(--azul-2);
    align-items: center;
}

.campo-texto {
    display: flex;
}

.campo-obrigatorio {
    margin-left: 10px;
    color: red;
}

.logo {
    margin: 10%;
    max-width: 150px; /* Limitar o tamanho da logo */
}

/* Container do formulário */
#registroForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Container das linhas de campos (2 por linha) */
.campo-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 colunas iguais */
    gap: 15px; /* Espaço entre os campos */
    width: 100%;
    margin-bottom: 20px;
}

/* Estilo dos campos de input e etiquetas */
.campo {
    width: 100%;
}

.campo label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.campo input {
    width: 100%;
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid var(--cinza-claro);
    background-color: var(--branco);
    color: var(--preto);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.campo input:focus {
    border-color: var(--azul-1);
    box-shadow: 0 0 5px var(--azul-1);
    outline: none;
}

/* Botão de registro com efeito hover */
#button-registro {
    background-color: var(--verde-1);
    font-size: large;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
    width: 100%; /* Garante que o botão ocupe toda a largura disponível */
}

#button-registro:hover {
    background-color: var(--verde-2);
}

/* Exibição do toggle de senha */
.visualizar-senha {
    display: flex;
    align-items: center;
}

#toggleSenha {
    margin-left: 10px;
    margin-right: 10px;
}

.conta {
    margin: 5%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conta a {
    margin-top: 15px;
}

/* Media Query para telas menores */
@media (max-width: 936px) {
    .conteudo-principal {
        flex-direction: column;
        margin: 0;
        max-width: 100%;
        padding: auto;
    }

    .campo-container {
        grid-template-columns: 1fr; /* Apenas uma coluna por linha em telas pequenas */
    }

    .logo {
        max-width: 120px; /* Ajusta o tamanho da logo para telas menores */
        margin: auto;
    }

    #button-registro {
        padding: 12px 20px; /* Ajusta o padding do botão para telas menores */
    }

    /* Ajusta a conta e seus links para maior responsividade */
    .conta {
        width: 90%;
    }

    .conta a {
        font-size: 14px;
    }
}
