<section class="tagbar" id="tagbar-conteudo">
    <div class="conteudo">
        <div class="tags-foto">
            <div class="texto"><p>Tags:</p></div>
            <div class="tags">
                <div class="texto ativo"><p>Lorem Ipsus</p></div>
                <div class="texto ativo"><p>Lorem Ipsus</p></div>
                <div class="texto"><p>Lorem Ipsus</p></div>
                <div class="texto"><p>Lorem Ipsus</p></div>
                <div class="texto"><p>Lorem Ipsus</p></div>
                <div class="texto"><p>Lorem Ipsus</p></div>
                <div class="texto"><p>Lorem Ipsus</p></div>
            </div>
        </div>
    </div>
</section>