
.tagbar{display: none; position: fixed; left: 220px;  top:0; background: var(--azul-2); height: 100%; min-width: 400px;min-width: 300px; border-right: solid 2px var(--branco); transition: .4s; z-index: 1000; } 
.tagbar .conteudo{}
.tagbar .conteudo .tags-foto{margin: 25px 0 0;}
.tagbar .conteudo .tags-foto .texto{text-align: left; font-weight: bold;}
.tagbar .conteudo .tags-foto .tags{}
.tagbar .conteudo .tags-foto .tags .texto{border-radius: 8px;font-weight: bold; padding: 6px 16px; font-size: 14px; border: 2px solid var(--branco); width: 100%; margin: 10px  auto 0; text-align: left;}
.tagbar .conteudo .tags-foto .tags .texto:hover, .tagbar .conteudo .tags-foto .tags .texto.ativo{background: var(--verde-2); color: var(--azul-2); border: 2px solid var(--verde-2);}


@media(max-width: 1100px){
    .tagbar{left: 60px;}
}

@media(max-width: 768px) {
    .tagbar{left: 0px; display: block; left: 0; top: 62px; height: auto; width: 100%;padding: 10px 0; overflow-x: scroll;}
    .tagbar .conteudo .tags-foto{margin: 0;}
    .tagbar .conteudo .tags-foto .tags .texto{width: 100%;}
    .tagbar .conteudo .tags-foto .tags{display: flex; gap: 10px; }
    .tagbar .conteudo .tags-foto > .texto{display: none;}
    .tagbar .conteudo .tags-foto .tags .texto{  min-width: fit-content; margin: 0; }

}


.tagbar::-webkit-scrollbar {height: 4px; } 
.tagbar::-webkit-scrollbar-thumb {background: var(--verde-2); border-radius: 8px;}
.tagbar::-webkit-scrollbar-thumb:hover {background: var(--verde-1);}
.tagbar::-webkit-scrollbar-track {background: var(--azul-2);} 
  