<section class="conteudo-dir">
    <div class="conteudo">
        <div class="tags-foto">
            <div class="texto"><p>Tags da Foto</p></div>
            <div class="tags">
                <div class="texto"><p>Lorem Ipsus</p></div>
                <div class="texto"><p>Lorem Ipsus</p></div>
                <div class="texto"><p>Lorem Ipsus</p></div>
            </div>
        </div>
        <div class="tags-foto">
            <div class="texto"><p>Todas as Tags</p></div>
            <div class="tags">
                <div class="texto"><p>Lorem Ipsus</p></div>
                <div class="texto"><p>Lorem Ipsus</p></div>
                <div class="texto"><p>Lorem Ipsus</p></div>
                <div class="texto"><p>Lorem Ipsus</p></div>
                <div class="texto"><p>Lorem Ipsus</p></div>
                <div class="texto"><p>Lorem Ipsus</p></div>
            </div>
        </div>
    </div>
</section>