<!-- Barra lateral de navegação -->
<section class="sidebar conteudo-esq">
    <div class="logo">
        <div class="imagem-container"><img src="../../../theme/assets/img/logo.webp" alt="" class="imagem"></div>
        <div class="texto">Postly</div>
    </div>
    <a href="/theme/templates/index.html" class="menu-item">
        <i class="bi bi-house"></i>
        <span class="texto">Home</span>
    </a>
    <a href="/theme/templates/perfil.html" class="menu-item">
        <i class="bi bi-person"></i>
        <span class="texto">Perfil</span>
    </a>
    <div class="menu-item" id="menu-criar">
        <i class="bi bi-film"></i>
        <span class="texto">Criar</span>
    </div>
    <div class="menu-item menu-tag" id="menu-tag">
        <i class="bi bi-tag"></i>
        <span class="texto">Tags</span>
        <section id="tagbar"></section>
        
    </div>
    <a href="/theme/templates/login.html" class="menu-item">
        <i class="bi bi-box-arrow-in-left"></i>
        <span class="texto">Sair</span>
    </a>
    <section id="criar"></section>
</section>
