.criar{position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; background: rgba(0,0,0,0.7);}
.criar .conteudo{ position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); background: var(--azul-2);width: 600px;height: fit-content;background: var(--azul-2); border: 1px solid var(--branco); border-radius: 8px; padding: 25px;}
.criar .conteudo .formulario{display: flex;  flex-direction: column; }

.criar .formulario .criar-imagem {display: block;margin: 10px auto;padding: 10px;border: 2px dashed var(--branco);border-radius: 8px;color: var(--branco);text-align: center;cursor: pointer;max-width: 100%;}
.criar .formulario .criar-imagem::file-selector-button {background-color: var(--verde-2);color: var(--azul);border: none;padding: 10px 15px;border-radius: 8px;font-weight: bold;cursor: pointer; }

.criar .item{border: none;padding: 5px;border-radius: 8px;flex: 1 1;margin: 10px 0 0;}
.criar .item::placeholder{color: var(--branco);}

.criar .conteudo .tags { margin: 15px 0 ;}
.criar .conteudo .tags > .texto{ margin: 0 0 10px;}
.criar .conteudo .tags .seletor{display: flex; flex-wrap: wrap; justify-content: flex-start; gap: 10px;}
.criar .conteudo .tags .seletor .texto{border-radius: 8px;font-weight: bold; padding: 6px 16px; font-size: 14px; border: 2px solid var(--branco); width: fit-content; text-align: left;}
.criar .conteudo .tags .seletor .texto:hover, .tagbar .conteudo .tags .texto.ativo{background: var(--branco); color: var(--azul-2);}
.criar .conteudo .tags .seletor .texto input[type="checkbox"] {display: none;}
.tag input[type="checkbox"]:checked + p{color: var(--verde-1);}

.criar .item.publicar{background: var(--verde-2);font-weight: 700;color: var(--azul); padding: 10px 0;}

.criar .fechar{width: 30px; height: 30px; background: var(--azul-2); font: 700 14px / 1em montserrat; color: var(--branco); display: flex; justify-content: center; align-items: center; position: absolute; top: 0; right: 0; border-radius: 100%; transform: translate(50%, -50%); border: 1px solid var(--branco);}
