<div class="criar">
    <div class="conteudo">
      <input type="file"> 
      <input type="text"> 
      <select multiple>
        <option value="lorem Ipsus"></option>
        <option value="lorem Ipsus"></option>
        <option value="lorem Ipsus"></option>
        <option value="lorem Ipsus"></option>
        <option value="lorem Ipsus"></option>
        <option value="lorem Ipsus"></option>
        <option value="lorem Ipsus"></option>
        <option value="lorem Ipsus"></option>
      </select> 
    </div>
</div>