<div class="criar">
  <div class="conteudo">
    <form action="" class="formulario">
      <input type="file" id="criar-imagem" class="item criar-imagem" accept="image/png, image/jpeg, image/jpg, image/gif">
      
      <label for="texto-input">Titulo da Publicação:</label>
      <input type="text" id="texto-input" class="item"> 
      
      <div class="tags">
        <div class="texto"><p>Tags da Publicação:</p></div>
        <div class="seletor">
          <label class="tag texto t1">
            <input type="checkbox" name="tags" value="lorem ipsum"> <p>lorem ipsum </p>
          </label>
          <label class="tag texto t1">
            <input type="checkbox" name="tags" value="lorem"> <p>lorem</p>
          </label>
          <label class="tag texto t1">
            <input type="checkbox" name="tags" value="lorem ipsum">  <p>lorem ipsum</p>
          </label>
          <label class="tag texto t1">
            <input type="checkbox" name="tags" value="lorem"> <p>lorem</p>
          </label>
          <label class="tag texto t1">
            <input type="checkbox" name="tags" value="lorem ipsum">  <p>lorem ipsum</p>
          </label>
          <label class="tag texto t1">
            <input type="checkbox" name="tags" value="lorem"> <p>lorem</p>
          </label>
          <label class="tag texto t1">
            <input type="checkbox" name="tags" value="lorem ipsum">  <p>lorem ipsum</p>
          </label>
          <label class="tag texto t1">
            <input type="checkbox" name="tags" value="lorem ipsum">  <p>lorem ipsum</p>
          </label>
          <label class="tag texto t1">
            <input type="checkbox" name="tags" value="lorem"> <p>lorem</p>
          </label>
        </div>
      </div>
      
      <input type="submit" value="PUBLICAR" class="item publicar">
    </form>
  </div>
</div>