<section class="tagbar" id="tagbar-conteudo">
    <div class="conteudo">
        <div class="tags-foto">
            <div class="texto"><p>Tags:</p></div>
            <div class="tags">
                <div class="texto ativo"><p>Tag 1</p></div>
                <div class="texto ativo"><p>Tag 2</p></div>
                <div class="texto"><p>Tag 3</p></div>
                <div class="texto"><p>Tag 4</p></div>
                <div class="texto"><p>Tag 5</p></div>
                <div class="texto"><p>Tag 6</p></div>
                <div class="texto"><p>Tag 7</p></div>
            </div>
        </div>
    </div>
</section>