<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="../static/css/navbar.css">
    <link rel="stylesheet" href="../static/css/tagbar.css">
    <link rel="stylesheet" href="../static/css/criar.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
   
    <title>Home</title>
</head>
<body>
    <section id="navbar" class="navbar">
        <section class="sidebar conteudo-esq">
            <div class="logo">
                <div class="imagem-container"><img src="../static/imagens/logo.webp" alt="" class="imagem"></div>
                <div class="texto">Postly</div>
            </div>
            <a href="/index" class="menu-item">
                <i class="bi bi-house"></i>
                <span class="texto">Home</span>
            </a>
            <a href="/perfil" class="menu-item">
                <i class="bi bi-person"></i>
                <span class="texto">{{ request.session.user_name }}</span>
            </a>
            <div class="menu-item menu-tag" id="menu-tag">
                <i class="bi bi-tag"></i>
                <span class="texto">Tags</span>
                <section id="tagbar">
                    <section class="tagbar" id="tagbar-conteudo">
                        <div class="conteudo">
                            <div class="tags-foto">
                                <div class="texto"><p>Tags:</p></div>
                                <div class="tags">
                                    {% for tag in tags %}
                                    <div class="texto tag-item" tag="{{ tag.id }}">
                                        <p>{{ tag.nome }}</p>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </section>
                </section>
            </div>
            <a href="/logout" class="menu-item">
                <i class="bi bi-box-arrow-in-left"></i>
                <span class="texto">Sair</span>
            </a>
        </section>
    </section>
    <main> 
        <section class="scroll conteudo-cen"> 
            <div class="conteudo-1000">
                <ul class="posts">
                    {% for pub in publicacoes %}
                    <li class="post ativo" data-tags='{{ tags_in_pub[pub.id]|map(attribute="id")|list|tojson }}'>
                        <div class="perfil">
                            <div class="imagem-container">
                             {% if pub.foto_autor_base64 %}
                                <img src="data:image/jpeg;base64,{{ pub.foto_autor_base64 }}" alt="Foto do autor" class="foto-perfil-mini">
                                {% else %}
                                <img src="../static/imagens/user.webp" alt="Foto do autor" class="foto-perfil-mini">
                                {% endif %} 
                            </div>
                            <div class="textos">
                                <div class="texto" style="font-size: 20px;"><p>{{ pub.autor }}</p></div>
                            </div>
                        </div>
                        <div class="texto "><p>{{ pub.titulo }}</p></div>
                        <div class="curtidas-qtd texto" style="margin-bottom: 2px; color: rgb(212, 74, 125);">
                            <i class="bi bi-heart-fill"></i> {{ pub.qtd_curtidas }} curtida{{ 's' if pub.qtd_curtidas != 1 else '' }}
                        </div>
                        <div class="imagem-container">
                            {% if pub.foto_base64 %}
                            <img loading="lazy" src="data:image/jpeg;base64,{{ pub.foto_base64 }}" alt="" class="imagem">
                            {% else %}
                            <img loading="lazy" src="../static/imagens/post_1.webp" alt="" class="imagem">
                            {% endif %}
                        </div>
                        <div class="texto">{{ pub.descricao }}</div>
                        <div class="interacao">
                            <div class="imagem-container" id="curtida{{ pub.id }}">
                                <i class="bi imagem{% if pub.id in curtidas_usuario %} curtido bi-heart-fill {% else %} bi-heart {% endif %}"></i>
                            </div> <!-- Ícone de curtida -->
                            <div class="imagem-container"><i class="bi bi-chat imagem"></i></div> <!-- Ícone de comentário -->
                            <div class="imagem-container" id="vermais"><i class="bi bi-plus-circle imagem vermais"></i></div> <!-- Ícone de adição (+) -->
                            
                        </div>
                    </li>
                    {% else %}
                    <p>Não há publicações ainda.</p>
                    {% endfor %}
                </ul>
            </div>
        </section>

        <section id="popup-publicacao" class="popup-publicacao">
            <div class="conteudo">
                <div class="fechar" id="fechar-popup">X</div>
                <div class="imagem-container"><img loading="lazy" src="/static/imagens/post_4.webp" alt="" class="imagem"></div>
                <div class="descricao">
                    <div class="perfil">
                        <div class="imagem-container">
                            <img loading="lazy" src="/static/imagens/user.webp" alt="" class="imagem">
                        </div>
                        <div class="textos">
                            <div class="texto "><p>User_Name</p></div>
                            <div class="texto "><p>Titulo da Publicação</p></div>
                        </div>
                    </div>
                    <div class="curtidas"></div>
                    <div class="tags">
                        <div class="tag texto t1"><p>Tag 1</p></div>
                        <div class="tag texto t1"><p>Tag 2</p></div>
                        <div class="tag texto t1"><p>Tag 3</p></div>
                        <div class="tag texto t1"><p>Tag 4</p></div>
                        <div class="tag texto t1"><p>Tag 5</p></div>
                        <div class="tag texto t1"><p>Tag 6</p></div>
                        <div class="tag texto t1"><p>Tag 7</p></div>
                    </div>
                    <div class="comentarios">
                        <div class="texto t1"><p>Comentários</p></div>
                        <div class="comentar">
                            <input type="text" class="input-comentario">
                            <div class="imagem-container"><i class="bi bi-send icone"></i></div>
                        </div>
                        <div class="card">
                            <div class="top">
                                <div class="imagem-container"><img loading="lazy" src="" alt="" class="imagem"></div>
                                <div class="texto t1">user_name</div>
                            </div>
                            <div class="bot">
                                <div class="comentario"><p>Comentário comentário Comentário comentário Comentário comentário Comentário comentário Comentário comentário Comentário comentário</p></div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="top">
                                <div class="imagem-container"><img loading="lazy" src="" alt="" class="imagem"></div>
                                <div class="texto t1">user_name</div>
                            </div>
                            <div class="bot">
                                <div class="comentario"><p>Comentário comentário Comentário comentário Comentário comentário Comentário comentário Comentário comentário Comentário comentário</p></div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- <section id="tagbar"></section> -->
    <!-- <script src="../static/js/geral/navbar.js"></script> -->
    <script src="../static/js/geral/tagbar.js"></script>
    <!-- <script src="../static/js/geral/criar.js"></script> -->
    <script src="../static/js/index.js"></script>
    <script src="../static/js/geral/verificar_inatividade.js"></script>
    <script src="../static/js/geral/curtida.js"></script>
    <script src="../static/js/geral/debug_session.js"></script>
</body>
</html>