<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    
    <!-- CSS -->
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="../static/css/login.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-material-ui/material-ui.css" rel="stylesheet">
</head>
<body>
    <!-- SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>

    <div class="conteudo-principal" id="login">
        <img src="/theme/assets/img/logo2.webp" class="logo" alt="Logo POSTLY">
        
        <form id="loginForm">
            <!-- Campo Username -->
            <div class="campo-container">
                <div class="campo">
                    <label for="usuario" class="campo-texto">
                        Username <span class="campo-obrigatorio">*</span>
                    </label>
                    <input id="usuario" type="text" placeholder="Digite seu username" required autocomplete="off">
                </div>
            </div>

            <!-- Campo Senha -->
            <div class="campo-container">
                <div class="campo">
                    <label for="senha" class="campo-texto">
                        Senha <span class="campo-obrigatorio">*</span>
                    </label>
                    <input id="senha" type="password" placeholder="Digite sua senha" required autocomplete="off">
                </div>
                <div class="visualizar-senha">
                    <input type="checkbox" id="toggleSenha">
                    <label for="toggleSenha">Visualizar Senha</label>
                </div>
            </div>

            <div class="conta">
                <button id="button-login" type="submit">Entrar</button>
                <a href="register.html">Não possui conta? Cadastre-se</a>
            </div>
        </form>
    </div>
    <script src="../static/js/login.js"></script>
</body>
</html>
