<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <!-- CSS -->
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="../static/css/register.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-material-ui/material-ui.css" rel="stylesheet">   
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>

    <div class="conteudo-principal" id="register">
        <img src="/static/imagens/logo2.webp" class="logo" alt="Logo POSTLY">
        <form id="registroForm" action="/register" method="post" enctype="multipart/form-data">
            <div class="campo-container">
                <div class="campo">
                    <div class="campo-texto">
                        <label for="usuario">Username</label>
                        <p class="campo-obrigatorio">*</p>
                    </div>
                    
                    <input id="usuario" name="usuario" type="text" placeholder="Username" required>
                </div>
                <div class="campo">
                    <div class="campo-texto">
                        <label for="telefone">Telefone</label>
                        <p class="campo-obrigatorio">*</p>
                    </div>
                    <input id="telefone" name="telefone" type="tel" placeholder="(XX) XXXXX-XXXX" required>
                </div>
            </div>

            <div class="campo-container">
                <div class="campo">
                    <div class="campo-texto">
                        <label for="senha">Senha</label>
                        <p class="campo-obrigatorio">*</p>
                    </div>
                    <input id="senha" name="senha" type="password" placeholder="Senha" required>
                </div>
                <div class="campo">
                    <div class="campo-texto">
                        <label for="confirmarSenha">Confirmar Senha</label>
                        <p class="campo-obrigatorio">*</p>
                    </div>
                    <input id="confirmarSenha" name="confirmar_senha" type="password" placeholder="Confirmar Senha" required>
                </div>
                <div class="visualizar-senha">
                    <input type="checkbox" id="toggleSenha">
                    <label>Visualizar Senha</label>
                </div>
            </div>
            

            <div class="campo-container">
                <div class="campo">
                    <div class="campo-texto">
                        <label for="email">E-mail</label>
                        <p class="campo-obrigatorio">*</p>
                    </div>
                    <input id="email" name="email" type="email" placeholder="e-mail@dominio.com" required>
                </div>
                <div class="campo">
                    <div class="campo-texto">
                        <label for="nascimento">Data de Nascimento</label>
                        <p class="campo-obrigatorio">*</p>
                    </div>
                    <input id="nascimento" name="nascimento" type="date" required>
                </div>
            </div>

            <div class="campo">
                <label for="foto">Foto de usuário</label>
                <input id="foto" name="foto" type="file">
            </div>

            <div class="conta">
                <button id="button-registro" type="submit">Registrar-se</button>
                <a href="http://127.0.0.1:8000/login">Já possui conta?</a>
            </div>
        </form>
    </div>

    <script src="../static/js/register.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Exibir mensagem de erro, se houver
            const erro = "{{ erro | default('') }}";
            if (erro) {
                Swal.fire({
                    icon: 'error',
                    title: 'Erro!',
                    text: erro,
                });
            }

            // Exibir mensagem de sucesso, se houver
            const sucesso = "{{ sucesso | default('') }}";
            if (sucesso) {
                Swal.fire({
                    icon: 'success',
                    title: 'Sucesso!',
                    text: sucesso,
                }).then(() => {
                    // Redirecionar para a página de login após o clique no botão "OK"
                    window.location.href = "/login";
                });
            }

        });
    </script>
</body>
</html>
